
.form-inline mt-2 mt-md-0{
  padding-right:  10px;
}
.glyphicon{
  margin:10px 10px;

}
.col-lg-4{
  margin: 0 auto;

}
.col-lg-4 h2{
  margin: 0 auto;
  font-size: 40px;
  padding-bottom: 10px;
}
.main-nav{

}
.carousel-caption h1{
  font-size: 80px;
}

#myCarousel{
  padding-top:40px;
}
.btn{
  margin-top:30px;
}
.navbar-nav{

}
