<!DOCTYPE html>
<html>
<head>
<title>文章</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="static/css/post.css" rel="stylesheet" media="screen">
<link href="static/css/nprogress.css" rel="stylesheet" media="screen">
<link href="static/css/login.css" rel="stylesheet">
</head>

<!-- 顶部导航栏———————————————————————————————————————— -->
<!-- ================================================== -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img class="navbar-brand-logo" href="#" src="static/img/logo.jpg" />
 <!-- <a class="navbar-brand" href="#">Designist</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">首页 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('kb')}}">知识库</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">论坛</a>
      </li>
    </ul>


 </div>
</nav>

<body>

<div class="container-fluid">
  <div class="gn-content">
    <div class="gn-banner">
      <span class="article-time">{{post.date}}</span>
      <h3>
      	{{post.title}}
        <small>阅读 {{post.reads}} <em></em><span id="sourceId::a{$onearc.id}" class="cy_cmt_count"></span> <em>·</em> 赞   {{post.likes}}</small>
      </h3>
    </div>
    <div class="show-content-{:mt_rand(1,5000)}">
     {{post.content|safe}}
    </div>
    <div class="dream-pages mb2em clearfix">
      <a class="first" href="/article/list_1.html">1...</a> <a class="prev" href="/article/list_7.html">上一页</a> <a class="num" href="/article/list_6.html">6</a><a class="num" href="/article/list_7.html">7</a><span class="current">8</span><a class="num" href="/article/list_9.html">9</a> <a class="next" href="/article/list_9.html">下一页</a> <a class="end" href="/article/list_last.html">10</a>
    </div>
    <div class="prev-next">
      <p>上一篇：<a href="{{url_for('show_post',post_id=pre.id)}}">{{pre.title}}</a></p>
      <p>下一篇：<a href="#">{{after.title}}</a></p>
    </div>
    <div class="article-bottom clearfix">
      <div class="like clearfix" onClick="dian(this, '{:U('article/setIncSec')}', 'article');">
	    <div class="like-text">
		  <a href="javascript:void(0);" data-id="{$onearc.id}">赞一个</a>
        </div>
	    <span id="like-count">{{post.likes}}</span>
      </div>
      <div class="share-box clearfix">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      </div>
    </div>
    <div class="cy_box">
      <div id="SOHUCS" sid="a{$onearc.id}"></div>
	  {:stripslashes(htmlspecialchars_decode(C('WEB_CHANGYAN')))}
    </div>

  </div>
</div>
<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="glyphicon glyphicon-arrow-up"></i></a>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/nprogress.js"></script>
<script src="static/js/main2.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	NProgress.start();
    $('body').show();
    goToTop();
	NProgress.done();
});
</script>
</body>
</html>
