<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="post" enctype='multipart/form-data' method="post">
        <p>title: <input type="text" name="title" /></p>
        <p>abstract: <input type="text" name="abstract" /></p>
        <p>content: <input type="text" name="content" /></p>
        <p>category_id: <input type="text" name="category_id" /></p>
        <p>image: <input type="file" name="image" /></p>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>